In [6]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [31]:
data = pd.read_csv("houseprices.csv")
data.head()

   area  bedrooms  age   price
0  2600       NaN   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       5.0   30  595000
4  4000       NaN    8  760000

In [8]:
# check for missing values
data[data.bedrooms.isna() == True]

   area  bedrooms  age   price
2  3200       NaN   18  610000

In [14]:
# replacing NaN with the median of Bedrooms
import math
median_bedrooms = math.floor(data.bedrooms.median())

In [15]:
data.bedrooms.fillna(median_bedrooms, inplace = True)

In [16]:
lin_reg_model = linear_model.LinearRegression()

In [20]:
x_train = data.drop("price", axis = 'columns')
y_train = data.price
lin_reg_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
lin_reg_model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [22]:
lin_reg_model.intercept_

221323.00186540443

In [23]:
lin_reg_model.predict([[3000,3,40],[2500,4,5]])

array([498408.25158031, 578876.03748933])